@charset "UTF-8";
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	font-family: "Lato", sans-serif;
}
body {
	font-family: Helvetica, Arial," sans-serif";
	background-color:#3f596d; 
}
.container{
	max-width: 1300px;
	margin-left:auto;
	margin-right: auto;
}
.header-page {
	width: 100%;
	max-height: 60px;
	padding: 5px;
	position: relative;
	background-color: #048AF8;
	overflow: hidden;
	border: 1px groove #304F68;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 6px;
	-webkit-box-shadow: 3px 0px 0px 5px #304F68;
	box-shadow: 3px 0px 0px 5px #304F68;
}
#questioner{
	float: left;
	display: block;
}
#questioner h1{
	display: inline-block;
	margin-top: 3px;
	margin-left: 40px;
	text-shadow: 2px 1px 3px #304F68;
	
}
#questioner h1 span{
	color:#EBEAEA;
	
}
#questioner2{
	float: right;
	
}
.nav-bar {
	display: inline-block;
	
}
.nav-bar ul {
	list-style-type:none;
	margin-right: 50px;
	margin-top: 9px;
	padding-top: 5px;
}
.nav-bar ul li {
	display: inline-block;
	border: 2px solid #304F68;
	border-radius: 4px 2px 6px;
	padding:6px;
}
.nav-bar ul li:hover{
	background-color: #1D415F;
	font-weight:600;
}
.target{
	background-color: #1D415F;
}
.nav-bar ul li a{
text-decoration: none;
	color:#ffffff;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#page-wrapper{
	margin-top:0px;
	margin-left:auto;
	margin-right: auto;
	height:730px;
	
}
.image-container{
	max-width: 100%;
	max-height: 320px;
	
}
.image-container img{
	width:100%;
	height:320px;
}
.image-banner{
	max-height: 300px;
	max-width: 400px;
	background: rgba(145,223,243,.65);
	margin: auto;
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	padding: 20px;
	text-align: center;
	border-radius: 2px 7px 4px;
}
.image-banner h2{
	color:#ffffff;
}
.image-banner p{
	line-height: 1.5;
	color:aliceblue;
}
.container-work{
	width:100%;
	max-height: 500px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding:15px 5px 10px 5px;
		
}
.container-wrapup{
	max-height: 150px;
	padding-bottom: 13px;
	
}
.container-wrapup h2{
	text-align: center;
	font-size: 30px;
	padding-bottom: 5px;
	color:#048AF8;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}
.container-wrapup p{
	width:300px;
	color:aliceblue;
	text-align:left;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}
.container-section{
	margin-top: 6px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	
}
.container-arran{
	display: inline-block;
	width: 30.33%;
	float: left;
	margin-left:2.20%;
	overflow: hidden;
	border: 2px solid #048AF8;
	border-radius: 1px 3px 12px 4px;
	-webkit-box-shadow: 6px 7px 0px 3px #048AF8;
	box-shadow: 6px 3px 0px 3px #304F68;
	padding: 18px;
}
.container-arran:nth-child(even){
	background-color:#B7CFD5;
}
.container-arran:nth-child(odd){
	background-color:#81DDF4;
}
.container-arran p{
	padding:6px 5px 5px 2px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: justify;
	line-height: 1.2;
}
.fa-user,.fa-question-circle,.fa-comment{
	font-size:35px;
}
.section-container{
	margin: 4px auto;
	display: flex;
	max-height: 500px;
	max-width: 100%;
	align-content: center;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	background-color: #81DDF4;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.section-article{
	display: inline-block;
	width:550px;
	height: 450px;
	float:left;
	margin-left: auto;
	margin-right:auto;
	vertical-align: middle;

}
.section-article h3{
	font-size: 25px;
	padding-bottom: 10px;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color:aliceblue;
}
.section-article img,.section-article iframe{
	padding-bottom:20px;
}
.footer{
	display: block;
	width:100%;
	height: 80px;
	margin-bottom: 0px;

}
.footer-container{
	display: block;
	float: left;
	height: 78px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color: #048AF8;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
.footer-container div{
	text-align: center;
	margin-top: 3px;
	font-size: 34px;
	font-weight: 1000;
	text-shadow: 2px 1px 3px #304F68;
	margin-bottom: 0px;
}
.footer-container p{
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	color: #F9F4F4;
	font-size: 21px;
}
.footer-container div span{
	color: #304F68;
	
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(48,79,104,0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #304F68;
  border-radius: 4px 2px 6px;
  color: #F7EEEE;
	background-color:#048AF8;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.slideshow{
	font-size: 30px;
	cursor:pointer;
	display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width:660px){
	.slideshow{
		display:block;
	}
	.nav-bar{
		display:none;
	}
}
@media screen and (max-width:1200px){
	.section-container img{
		width:80%;
		height: 250px
		
	}
	.section-container{
		max-height: 400px;
		padding-left:8%;
		
		
	}
	iframe{
		width:80%;;
		height: 250px;
	}
	.section-article{
		width:90%;
		height: 300px;
		
		
	}
}



@media screen and (max-width:702px){
	.image-banner{
		display: none;
	}
	.container-arran{
		clear:left;
		width: 95%;
		margin-bottom:3px;
		padding-left:auto;
		padding-right:auto;
	}
	.section-container{
		max-height: 800px;
		max-width:92%;
		clear:left;
		display:block;	
		
	}
	.section-container img{
		width:100%;
		height: 290px;
		
		
	}
	iframe{
		width:100%;
		height: 290px;
		position: relative;
	}
	.section-article h3{
		font-size: 20px;
		padding-bottom: 2px;

	}
	
}

@media screen and (max-width:343px){
	.container-wrapup h2{
		font-size:20px;
	}
	.container-wrapup p{
		font-size: 16px;
		width:80%;
		
	}
	#questioner h1{
		margin-left: 18px;
	}
	
}
/***end of home page***/
.scrolling-box{
  scroll-behavior: smooth;
}