@charset "UTF-8";
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	font-family: "Lato", sans-serif;
}
body {
	font-family: Helvetica, Arial," sans-serif";
	background-color:#f4f6f9; 
}
.container{
	max-width: 1300px;
	margin-left:auto;
	margin-right: auto;
	overflow: hidden;
}
.header-page {
	width: 100%;
	max-height: 80px;
	padding: 5px;
	position: fixed;
	top: 0;
	background-color: #319FF9;
	overflow: hidden;
	z-index: 10000000;
	
}
#questioner{
	float: left;
	display: block;
}
#questioner h1{
	display: inline-block;
	margin-top: 3px;
	font-size: 38px;
	margin-left: 40px;
	text-shadow: 2px 1px 3px #304F68;
	
}
#questioner h1 span{
	color:#EBEAEA;
	
}
#questioner2{
	float: right;
	
}
.nav-bar {
	display: inline-block;
	
}
.nav-bar ul {
	list-style-type:none;
	margin-right: 50px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.nav-bar ul li {
	display: inline-block;
	padding:6px;
}
.nav-bar ul li:hover{
	background-color: #1D415F;
	font-weight:500;
}
.target{
	background-color: #1D415F;
}
.nav-bar ul li a{
text-decoration: none;
	color:#ffffff;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#page-wrapper{
	margin-top:0px;
	margin-left:auto;
	margin-right: auto;
}
.image-container{
	max-width: 100%;
	max-height: 320px;
	
}
.image-container img{
	width:100%;
	height:320px;
}
.image-banner{
	max-height: 300px;
	max-width: 400px;
	background: rgba(145,223,243,.65);
	margin: auto;
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	padding: 20px;
	text-align: center;
	border-radius: 2px 7px 4px;
}
.image-banner h2{
	color:#ffffff;
}
.image-banner p{
	line-height: 1.5;
	color:aliceblue;
}
.container-work{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-top:0; 
	padding:0px 5px 5px 5px;
	margin-bottom: 30px;
	background-color: #edf4f9;
}
.container-wrapup{
	max-height: 150px;
	padding-bottom: 23px;
	
}
.container-wrapup h2{
	text-align: center;
	font-size: 30px;
	padding-bottom: 5px;
	color:#048AF8;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}
.container-wrapup p{
	width:300px;
	color:#8ac6f2;
	text-align:left;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}
.container-section{
	margin-top: 6px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	
}
.container-arran{
	display: inline-block;
	width: 30.33%;
	float: left;
	margin-left:2.20%;
	overflow: hidden;
	border: 2px solid #048AF8;
	border-radius: 1px 3px 12px 4px;
	-webkit-box-shadow: 6px 7px 0px 3px #048AF8;
	box-shadow: 6px 3px 0px 3px #304F68;
	padding: 18px;
}
.container-arran:nth-child(even){
	background-color:#319FF9;
}
.container-arran:nth-child(odd){
	background-color:#03589E;
}
.container-arran p{
	padding:6px 5px 5px 2px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: justify;
	line-height: 1.2;
}
.fa-user,.fa-question-circle,.fa-comment{
	font-size:35px;
}
.section-container{
	margin: 4px auto;
	display: flex;
	max-height: 500px;
	max-width: 100%;
	align-content: center;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	background-color: #03589E;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.section-article{
	display: inline-block;
	width:550px;
	height: 450px;
	float:left;
	margin-left: auto;
	margin-right:auto;
	vertical-align: middle;

}
.section-article h3{
	font-size: 25px;
	padding-bottom: 10px;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color:aliceblue;
}
.section-article img,.section-article iframe{
	padding-bottom:20px;
}
.footer{
	display: block;
	width:100%;
	height: 80px;
	margin-bottom: 0px;
	

}
.footer-container{
	display: block;
	float: left;
	height: 78px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color: #048AF8;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
.footer-container div{
	text-align: center;
	margin-top: 3px;
	font-size: 34px;
	font-weight: 1000;
	text-shadow: 2px 1px 3px #304F68;
	margin-bottom: 0px;
}
.footer-container p{
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	color: #F9F4F4;
	font-size: 21px;
}
.footer-container div span{
	color: #304F68;
	
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(48,79,104,0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #304F68;
  border-radius: 4px 2px 6px;
  color: #F7EEEE;
	background-color:#048AF8;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.slideshow{
	font-size: 30px;
	cursor:pointer;
	display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width:660px){
	.slideshow{
		display:block;
	}
	.nav-bar{
		display:none;
	}
}
@media screen and (max-width:1200px){
	.section-container img{
		width:80%;
		height: 250px
		
	}
	.section-container{
		max-height: 400px;
		padding-left:8%;
		
		
	}
	iframe{
		width:80%;;
		height: 250px;
	}
	.section-article{
		width:90%;
		height: 300px;
		
		
	}
}



@media screen and (max-width:702px){
	.image-banner{
		display: none;
	}
	.container-arran{
		clear:left;
		width: 95%;
		margin-bottom:3px;
		padding-left:auto;
		padding-right:auto;
	}
	.section-container{
		max-height: 800px;
		max-width:92%;
		clear:left;
		display:block;	
		
	}
	.section-container img{
		width:100%;
		height: 290px;
		
		
	}
	iframe{
		width:100%;
		height: 290px;
		position: relative;
	}
	.section-article h3{
		font-size: 20px;
		padding-bottom: 2px;

	}
	
}

@media screen and (max-width:343px){
	.container-wrapup h2{
		font-size:20px;
	}
	.container-wrapup p{
		font-size: 16px;
		width:80%;
		
	}
	#questioner h1{
		margin-left: 18px;
	}
	
}
/***end of home page***/
.scrolling-box{
  scroll-behavior: smooth;
}
/* Style the search field */
form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 3px solid #319FF9;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
  /* Style the submit button */
  /*form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: none;  Prevent double borders 
	cursor: pointer;
  }
  
  form.example button:hover {
	background: #0b7dda;
  }
  
  
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }*/

 .upcoming-mt{
 	margin-top:6px;
 	margin-bottom: 6px;
	 text-align:center;
	 font-size: 30px;
	 font-weight: 500;
	 color:#90c8f4;
	 font-style: italic;
	 
 }
 #section-image{
	 padding:0px;
	 width:100%;
	 height: 200px;
	 margin-top: 80px;
 }
 .back-image{
	 background:url(../images/wave-photography-dark-2.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 width: 100%;
	 height: 100%;
 }
 #top-pt{
		padding-top:15px;
 }
 .back-image h2{
	 text-align: center;
	 font-style: italic;
	 font-size: 28px;
	 font-weight: 600;
	 color:#ffffff;
	 padding-top:20px;
 }
 .bantp-tst{
	 text-align: center;
	 color:#f6fafc;
	 margin-top:20px;
	 font-weight:700;
	 font-size: 21px;
 }
 .back-image p{
	 width:50%;
	 text-align: center;
	 margin-top: 6px;
	 margin-left:auto;
	 margin-right: auto;
	 color: #F9F4F4;
 }
 /****profile page******/
 /* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left; 
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color:#ffffff;
  padding: 10px;
}

/* Add a card effect for articles */
.cardd {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.cardd p span {
     color:#3B5998;
}
.cardd h3{
	color:#3B5998;
	margin-top: 4px;
	margin-bottom: 4px;
}
.cardd h5{
	margin-top:5px;
	margin-bottom: 5px;
	color: #3B5998;
}
.cardd div{
	padding-top:10px;
	padding-bottom:10px;
}
.cardd div p{
	font-size: 18px;
	margin-bottom: 20px;
	padding-left:5%;
	padding-right:5%;
}
.row2{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom:10px;
}
/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.cardd p input{
	margin-top: 7px;
}
.textin,input[type=tel] , textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.submit{
  background-color:#3B5998;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #1871ba;
}

/* Add a background color and some padding around the form */
.containertb {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Footer */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}